.modal-farm {
  background: #f0f0f0;
  padding: 0.5rem;
  border-radius: 1rem;
}

.ant-btn.ant-btn-round.ant-btn-lg.btn-farm {
  width: 49%;
  padding: 0.25rem;
  height: 45px;
  border-radius: 0.75rem;
}

.ant-modal-title h1 {
  margin-bottom: 0;
}

.modal-farm .box-input-farm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.modal-farm .box-input-farm .left-box-input-farm,
.modal-farm .box-input-farm .right-box-input-farm {
  width: 50%;
}
.modal-farm .box-input-farm .left-box-input-farm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-end;
}
.modal-farm .box-input-farm .right-box-input-farm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
}
.modal-farm .box-input-farm .left-box-input-farm .title-input {
  font-size: 1.2rem;
}
.modal-farm .box-input-farm .left-box-input-farm .ant-input-number-input {
  padding: 0;
  margin: 1rem 0;
  font-size: 1.2rem;
}
.modal-farm .box-input-farm .left-box-input-farm .ant-input-number-borderless {
  width: 100%;
}
.modal-farm .box-input-farm .left-box-input-farm .ant-input-number-handler-wrap {
  display: none;
}
.modal-farm .box-input-farm .right-box-input-farm .title-balanace {
  font-size: 1.2rem;
}
.modal-farm .box-input-farm .right-box-input-farm .area-max-lp {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.modal-farm .box-input-farm .right-box-input-farm .area-max-lp .btn-amount-max-farm {
  border-radius: 1.5rem;
  background: #e35188;
  border-color: #e35188;
  color: white;
}
.modal-farm .box-input-farm .right-box-input-farm .area-max-lp .symbol-pool {
  font-size: 1rem;
  margin-left: 0.5rem;
  font-weight: bold;
}

.stake-unstake .ant-btn.ant-btn-lg.ant-btn-icon-only {
  margin: 0 0.25rem;
  border-radius: 0.75rem;
  background: #e35188;
  border-color: #e35188;
  color: white;
}
