.footer {
  margin-top: 50px;
  /* height: 578px; */
  /* background: linear-gradient(
    180deg,
    rgba(38, 34, 80, 0.65) 0%,
    rgba(27, 25, 66, 0.85) 57.44%,
    #17163b 100%
  ); */
  /* position: absolute;
  width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer > .center {
  flex-direction: column;
}

.copyright {
  z-index: 1;
  /* background-color: #12112c; */
  height: 76px;
}

.copyright-font {
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
